 {% load i18n %}
<script type="text/ng-template" id="add_goal_modal.html">
  <form ng-submit="send()" name="add_goal" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">{% trans "Vytvořit cíl"%}</h3>
    </div>
    <div class="modal-body">
        <label>
          {% trans "Mapa"%}
        </label>
        {%verbatim%}
        <div>
          <select ng-model="goal.map" ng-required="true"
              class="form-control map-select">
            <optgroup ng-repeat="c in mapCategories"
                label="{{c.name != 'World' && c.name || ''}}">
              <option ng-repeat="map in c.maps" value="{{map.slug}}"
                  ng-disabled="map.disabled">
                {{map.name}}
              </option>
            </optgroup>
          </select> - 
          <span ng-repeat="map in maps" ng-if="map.slug==goal.map">
            <select class="form-control map-select layer-select"
              ng-model="goal.layer" ng-required="true">
              <option ng-repeat="layer in map.placesTypes"
                  ng-disabled="layer.disabled"
                  value="{{layer.slug}}">
                {{layer.name}}
              </option>
            </select>
          </span>
        </div>
        {%endverbatim%}
        <label>
          {% trans "Datum splnění cíle"%}
        </label>
        <p class="input-group"
          ng-click="openDatePopup($event)">
          <input type="text" class="form-control"
            ng-model="goal.finish_date" 
            datepicker-popup="{{format}}" 
            is-open="datePopup.isOpen"
            min-date="minFinish"
            show-button-bar="false"
            ng-required="true" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
        <br>
        {%verbatim%}
        <alert ng-repeat="alert in alerts" type="{{alert.type}}"
        close="closeAlert($index)">{{alert.msg}}</alert>
        {%endverbatim%}
    </div>
    <div class="modal-footer">
        <i ng-show="sending" class="icon-loading"></i> 
        <button ng-disabled="sending"
          type="submit"
          class="btn btn-primary">
          {% trans "Vytvořit"%}
        </button>
        <a class="btn btn-danger" ng-click="cancel()">
          {% trans "Zavřít"%}
        </a>
    </div>
  </form>
</script>

