{% extends 'email/base_cs.html' %}
{% block main_content %}
<div class="content">
	<h1>Ahoj!</h1>
	<p class="lead">
		Znalost polohy anatomických struktur na těle je důležitá, ale schválně...
	</p>
	<p class="lead">
	Víš, <strong>který nerv inervuje m. styloglossus?</strong>
	</p>
	<p>
		<a href="https://anatom.cz/practice/relations/demo/?config=intro&utm_source=reminder+letter&utm_medium=e-mail&utm_content=practice+demo&utm_campaign=Reminder">
			<img src="https://practiceanatomy.com/static/img/thumb/relations_3_cs.png" />
		</a>
	</p>
</div>
<div class="content">
	<table bgcolor="">
		<tr>
			<td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><img src="https://practiceanatomy.com/media/tile-thumbs/nodi-lymphoidei-axillaressvg.png" /></td>
			<td>
				<h4>Souvislosti <small>Co je antagonistou svalu m. serratus anterior?</small></h4>
				<p class="">
					Budujeme síť vztahů různých anatomických pojmů a z této sítě generujeme otázky na souvislosti.
				</p>
				<a href="https://anatom.cz/practice/relations/demo/?config=intro&utm_source=reminder+letter&utm_medium=e-mail&utm_content=practice+demo&utm_campaign=Reminder" class="btn">Procvičuj &raquo;</a>
			</td>
		</tr>
	</table>
</div>
{% endblock %}
