{% extends 'email/base_en.html' %}
{% block main_content %}
<div class="content">
	<h1>Hello!</h1>
	<p class="lead">
		Knowledge of the location of anatomical structures is important, but...
	</p>
	<p class="lead">
	Do you know <strong>where the insertion of psoas major is?</strong>
	</p>
	<p>
		<a href="https://practiceanatomy.com/practice/relations/demo/?config=intro&utm_source=reminder+letter&utm_medium=e-mail&utm_content=practice+demo&utm_campaign=Reminder">
			<img src="https://practiceanatomy.com/static/img/thumb/relations_8_en.png" />
		</a>
	</p>
</div>
<div class="content">
	<table bgcolor="">
		<tr>
			<td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><img src="https://practiceanatomy.com/media/tile-thumbs/nodi-lymphoidei-axillaressvg.png" /></td>
			<td>
				<h4>Relations <small>What is an antagonist of m. serratus anterior?</small></h4>
				<p class="">
					We build a network of terms and their relations. Based on this
					network we generate questions focused on your knowledge of relations.
				</p>
				<a href="https://practiceanatomy.com/practice/relations/demo?config=intro&&utm_source=reminder+letter&utm_medium=e-mail&utm_content=practice+demo&utm_campaign=Reminder" class="btn">Practice &raquo;</a>
			</td>
		</tr>
	</table>
</div>
{% endblock %}
