{% extends 'email/base_cs.html' %}
{% block main_content %}
<div class="content">
	<h1>Ahoj!<h1>
	<p class="lead">
		Koukáme, že Anatoma poměrně dost používáš, a to nás opravdu těší. Nechceš
		krom otázek s obrázky zkusit procvičovat i vztahy mezi pojmy? Však víš
		- inervaci, cévní zásobení apod. Anatom ve své <a
		href="https://anatom.cz/premium/?discount_code={{ discount_code.code }}&utm_source=thanks+letter&utm_medium=e-mail&utm_content=premium&utm_campaign=Thank+you">placené
	verzi</a> nabízí přesně tohle.
	</p>
	<p>
		Jako dárek za to, že naši službu využíváš, Ti nabízíme slevu na placenou
		verzi Anatoma ve výši {{ discount_code.discount_percentage }} %. Stačí použít tento slevový kód
		<strong>{{ discount_code.code }}</strong>, případně rovnou následující odkaz:
	</p>
	<p>
	<a href="https://anatom.cz/premium/?discount_code={{ discount_code.code }}&utm_source=thanks+letter&utm_medium=e-mail&utm_content=premium&utm_campaign=Thank+you" class="btn">Podívat se na typy předplatného</a>
	</p>
	<p>
	Ať se Ti při učení anatomie daří,<br />
	Tvůj Anatom
	</p>
</div>
{% endblock %}
