{% extends 'email/base_en.html' %}
{% block main_content %}
<div class="content">
	<h1>Welcome!<h1>
	<p class="lead">
		Thank you decided to use our app for
		practicing of  anatomy. Although we will never replace a good textbook,
		sometimes there is the need to drill. For these moments we're here. The
		application is still developing, for yet you can find:
	</p>
</div>

<div class="content">
	<table bgcolor="">
		<tr>
			<td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><img src="https://practiceanatomy.com/media/tile-thumbs/krajiny-hlavy-a-krkusvg.png" /></td>
			<td>
				<h4>Images <small>Where is trigonum caroticum?</small></h4>
				<p class="">
					We cooperate with authors of <a href="http://www.anatomy.memorix.cz/">Memorix Anatomy</a>
					to bring you images used to practice location of anatomical terms.
				</p>
				<a href="https://practiceanatomy.com/practice/images" class="btn">Practice &raquo;</a>
			</td>
		</tr>
	</table>
</div>

<div class="content">
	<table bgcolor="">
		<tr>
			<td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><img src="https://practiceanatomy.com/media/tile-thumbs/nodi-lymphoidei-axillaressvg.png" /></td>
			<td>
				<h4>Relations <small>What is an antagonist of m. serratus anterior?</small></h4>
				<p class="">
					We build a network of terms and their relations. Based on this
					network we generate questions focused on your knowledge of relations.
				</p>
				<a href="https://practiceanatomy.com/practice/relations" class="btn">Practice &raquo;</a>
			</td>
		</tr>
	</table>
</div>

<div class="content">
	<p>
		If you encounter any problem or you have an idea to improve the app, do not hesitate to contact us.
	</p>
</div>
{% endblock %}
