<div class="beta-alert text-center alert alert-info"
    ng-if="show">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"
      track-click="close covid banner">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only" translate>Zavřít</span>
  </button>
  <span track-show="covid banner" translate>ANATOMYTUTOR.H3_ONE</span>
  <a class="btn btn-default"
     track-click="covid banner"
     ng-click="goto(('ANATOMYTUTOR.URL' | translate))"
     translate
    >ANATOMYTUTOR.PARAGRAPH_ONE</a>
</div>
