<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="panel panel-default">
        <div class="panel panel-body">
          <div ng-repeat="context in contexts">
            <div>
              <h2>{{context.name}}</h2>
            </div>
            <div ng-repeat="fc in context.flashcards">
              <div>
                <h3>{{fc.term.name}}</h3>
              </div>
              <div>{{fc.classSaveIdentifier}}</div>
              <div anatomy-image code="fc.classSaveIdentifier" ng-if="context.content && fc.processed" ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
