<div> 
  <div image-view context-id="contextId" stats="context.stats" category="category"></div> 
  <div class="modal-footer" ng-if="contexts.length">
    <a ng-click="setNextContext(-1)" class="btn btn-default">
      <i class="glyphicon glyphicon-arrow-left"></i>
      <span class="hidden-xs">
        {{contexts[contexts.indexOf(context) - 1].name}}
      </span>
    </a>
    {{contexts.indexOf(context) + 1}} / {{contexts.length}}
    <a ng-click="setNextContext(+1)" class="btn btn-default">
      <span class="hidden-xs">
        {{contexts[contexts.indexOf(context) + 1].name}}
      </span>
      <i class="glyphicon glyphicon-arrow-right"></i>
    </a>
    <a ng-click="close()" class="btn btn-default"> 
      <i class="glyphicon glyphicon-remove"></i>
    </a>
  </div>
</div>

