<div class="form-group"
  ng-class="{
    'has-success' : question.isCorrect,
    'has-error' : question.isIncorrect,
    'has-feedback' : question.answered_code,
  }">
  <input type="text"
      ng-model="answer"
      placeholder="{{'Začni psát odpověď...' | translate}}"
      typeahead="qa as qa.answer for qa in questionsAndAnswers |
               filter:{answer: $viewValue} |
               limitTo:($viewValue.length > 2 ? $viewValue.length * 2 : 6)"
      typeahead-loading="loadingLocations"
      typeahead-no-results="noResults"
      ng-disabled="question.answered_code"
      ng-keypress="inputKeypress($event)"
      class="form-control">
      <span class="glyphicon form-control-feedback"
        ng-class="{
          'glyphicon-ok' : question.isCorrect,
          'glyphicon-remove' : question.isIncorrect,
        }"
        ng-show="!question.slideOut"
        aria-hidden="true"></span>
   <button class="btn btn-primary btn-lg"
      ng-click="checkAnswer()"
      ng-disabled="!canAnswer()"
      translate>
    Potvrdit
   </button>
 </div>
