<button ng-repeat="option in question.options"
  class="btn btn-lg btn-default btn-option"
  ng-click="controller.checkAnswer(option)"
  ng-class="{'btn-success': option.correct, 'btn-danger':
  option.selected && !option.correct }"
  ng-mouseenter="(question|isFindOnMapType) && imageController.hoverIn(option.description)"
  ng-mouseleave="(question|isFindOnMapType) && imageController.hoverOut(option.description)"
  style="color: {{(question|isFindOnMapType) && option.color}};
    background-color: {{(question|isFindOnMapType) && option.bgcolor}};"
  ng-disabled="option.disabled">&nbsp;
   <span ng-show="!(question|isFindOnMapType) ||
     option.selected || option.correct">
     {{question.question_type != 't2ts' ? option.term.name : option.term_secondary.name | stripAlternatives}}
   </span>&nbsp;
    <span shortcut="{{$index + 1}}"></span>
</button>
<div class="clearfix"></div>
<div open-answer
   ng-if="question.term && !(question|isFindOnMapType) && !question.options.length"
   question="question"
   controller="controller"
   can-next="canNext"
   image-controller="imageController">
</div>

