<div class="overview">
  <h1>{{'Přehled znalostí' | translate}} {{user}}</h1>
  <div ng-hide="systems && statsLoaded" class="loading-indicator">
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-sm-9">
          <span ng-repeat="system in systems"
            class="col-xs-6 col-sm-3 tile">
            <span class="in-tile">
              <a href="/practice/{{system.identifier}}/">
                <div class="dummy"></div>
                <div class="absolute">
                  <div round-progress
                      max="system.stats.number_of_flashcards"
                      current="system.stats.number_of_mastered_flashcards +
                      system.stats.number_of_practiced_flashcards"
                      color="#fe3"
                      bgcolor="rgba(150,150,150,0.5)"
                      radius="{{progressRadius}}"
                      stroke="15"
                      iterations="50"
                      animation="easeInOutQuart"></div>
                </div>
                <div class="absolute">
                  <div round-progress
                      max="system.stats.number_of_flashcards"
                      current="system.stats.number_of_mastered_flashcards"
                      color="#5CA03C"
                      bgcolor="rgba(0,0,0,0)"
                      radius="{{progressRadius}}"
                      stroke="15"
                      iterations="50"
                      animation="easeInOutQuart"></div>
                </div>
                <h2 ng-bind="system.name"></h2>
              </a>
            </span>
          </span>
          <div class="clearfix"></div>
        </div>
        <div class="col-sm-3">
          <div ng-repeat="bodypart in bodyparts">
           <a ng-bind="bodypart.name" href="/practice/{{bodypart.identifier}}/"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
