<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h1>
          <span>{{user ? user + ' - ' : ''}}</span>
          <span translate>Přehled znalostí</span>
        </h1>
      <div class="row">
        <span class="col-sm-9">
          <div category-progress skills="{{stats}}"></div>
          <br>
        </span>
        <span class="col-sm-3">
          <a href="/practice/" 
            class="btn btn-default btn-lg pull-right" 
            translate
            track-click="overview practice" >
            Procvičovat vše
          </a>
          <br>
          <br>
          <br>
        </span>
      </div>
    </div>
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation"
          ng-repeat="categoryType in categoriesByType" 
          ng-class="{'active' : categoryType.isActive}">
          <a href="" ng-click="activateCatType(categoryType)" >
            <h2> {{categoryType.name}}<h2>
          </a>
            <div class="clearfix"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="overview">
    <div ng-hide="categoriesByType" class="loading-indicator">
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div ng-repeat="categoryType in categoriesByType"
            ng-if="categoryType.isActive">
            <span ng-repeat="category in categoryType.categories"
              class="col-xs-6 col-sm-3 tile">
              <span class="in-tile">
                <a href="/view/{{category.identifier}}/" class="tile-link"
                  style="background-image: url('/static/img/{{category.identifier}}.png');" >
                  <div class="dummy"></div>
                  <div class="absolute">
                    <div round-progress
                        max="category.stats.number_of_flashcards"
                        current="category.stats.number_of_mastered_flashcards +
                        category.stats.number_of_practiced_flashcards"
                        color="#fe3"
                        bgcolor="rgba(150,150,150,0.1)"
                        radius="{{progressRadius}}"
                        stroke="15"
                        rounded="true"
                        iterations="50"
                        animation="easeInOutQuart"></div>
                  </div>
                  <div class="absolute"
                    ng-if="category.stats.number_of_mastered_flashcards">
                    <div round-progress
                        max="category.stats.number_of_flashcards"
                        current="category.stats.number_of_mastered_flashcards"
                        color="#5CA03C"
                        bgcolor="rgba(0,0,0,0)"
                        radius="{{progressRadius}}"
                        stroke="15"
                        rounded="true"
                        iterations="50"
                        animation="easeInOutQuart"></div>
                  </div>
                  <h2 ng-bind="category.name"></h2>
                </a>
                 <div class="dropdown" ng-if="!user">
                  <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li ng-if="!user"><a href="/practice/{{category.identifier}}/" translate >Procvičovat</a></li>
                  </ul>
                </div> 
              </span>
            </span>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
