<div class="container-fluid">
  <div class="row header header-practice">
    <div class="col-sm-12 ">
      <h1>
        {{categoryId | categoryIdToName}} {{question.context.name}}
        <a ng-if="userService.user.staff && categoryId"
          href="/view/{{categoryId}}/?context={{question.context.identifier}}">
          <i class="glyphicon glyphicon-picture" ></i>
        </a>
        <a ng-if="userService.user.staff"
          href="http://znackuj.anatom.cz/image/{{question.context.identifier}}">
          <i class="glyphicon glyphicon-edit" ></i>
        </a>
      </h1>
    </div>
  </div>
</div>
<div>
<div ng-repeat="question in questions"
    ng-show="question.description == activeQuestion.description &&
      question.responseTime == activeQuestion.responseTime">
  <span page-number="{{question.context.content.meta['textbook-page']}}"></span>
  <div anatomy-image code="{{question.context.identifier}}" practice="true" ></div>
  </div>
</div>
<div class="practice-with-progress">
  <div class="progress quesions-progress">
    <div class="progress-bar" style="width: {{progress}}%;"></div>
  </div>
  <div id="container" class="practice-container">
    <div ng-hide="question || showSummary || error" class="loading-indicator">
    </div>
    <div ng-show="error" error-message ></div>
    <div class="practice">
      <div ng-repeat="question in questions"
          ng-class="{'slide-out': question.slideOut}"
          class="inner-practice row">
        <div class="question col-sm-12">
          <span ng-bind="question | questionText"></span>
          <span class="label label-default" ng-show="question|isFindOnMapType">
            {{question.term.name | stripAlternatives}}
          </span>
          <span ng-show="question.answered_code && !question.options.length &&
            question.answered_code != question.description">
            <span>{{'Vybráno' | translate }}</span>
            <span class="label label-default">
               {{question.answered_code | codeToName | stripAlternatives}}
            </span>
          </span>
          <br class="clearfix">
        </div>
        <div class="button-block">
          <span>
            <button ng-repeat="option in question.options"
              class="btn btn-lg btn-default"
              ng-click="checkAnswer(option.description)"
              ng-class="{'btn-success': option.correct, 'btn-danger':
              option.selected && !option.correct }"
              ng-mouseenter="(question|isFindOnMapType) && imageController.hoverIn(option.description)"
              ng-mouseleave="(question|isFindOnMapType) && imageController.hoverOut(option.description)"
              style="background-color:{{(question|isFindOnMapType) && option.color}}"
              ng-disabled="option.disabled">&nbsp;
               <span ng-show="(question|isPickNameOfType) || question.answered_code">
                 {{option.term.name | stripAlternatives}}
               </span>&nbsp;
            </button>
          </span>
        </div>
        <div class="button-block">
          <button class="btn btn-lg btn-default next {{!canNext || 'btn-primary'}}" 
                  ng-click="next()" 
                  ng-disabled="!canNext || error" >
              <i class="glyphicon glyphicon-arrow-right"></i> {{'Pokračovat' | translate }}
          </button>
          <button class="btn btn-lg btn-default dont-know" 
                  ng-click="checkAnswer()" 
                  ng-disabled="canNext" >
              <i class="glyphicon glyphicon-question-sign"></i> {{'Nevím' | translate }}
          </button>
          <button class="btn btn-lg btn-default" 
                  ng-click="highlight(true)" 
                  ng-disabled="canNext"  
                  ng-show="question | isPickNameOfType" >
              <i class="glyphicon glyphicon-screenshot"></i> {{'Co je zvýrazněno?' | translate }}
          </button>
          <a feedback-comment class="btn btn-lg btn-link report-error" email="{{userService.user.email}}"
              text="{{question | reportText}}"
              href="">
              <i class="glyphicon glyphicon-new-window"></i>
            {{'Nahlásit chybu' | translate }}
          </a>
        </div>
      </div>
      <div ng-if="showSummary" class="inner-practice summary row">
        <div class="col-sm-12">
          <div class="summary-progress progress" ng-show="summary != undefined">
            <div class="progress-bar progress-bar-learned" 
                 style="width: {{summary.correctlyAnsweredRatio | percent }};">
              {{'Úspěšnost' | translate}}: {{summary.correctlyAnsweredRatio | percent }}
            </div>
            <div class="progress-bar progress-bar-unlearned" 
                 style="width: {{(1 - summary.correctlyAnsweredRatio) | percent }};">
            </div>
          </div>
          <span ng-repeat="fc in summary.flashcards" 
                ng-click="highlightFlashcard(fc)"
                class="label label-clickable {{fc.description != fc.answered_code &&
                  'label-unlearned' || 'label-learned' }} ">
             {{fc.term.name | stripAlternatives}}
          </span>
        </div>
        <h2 class="clearfix" ng-show="errorMessage != undefined" ng-bind="errorMessage"></h2>
        <br>
        <div class="col-sm-12">
          <br>
          <a class="btn btn-lg btn-default" 
             href="/refreshpractice/{{categoryId}}/" >
            <i class="glyphicon glyphicon-repeat"></i> {{'Znovu procvičovat' | translate }}
          </a>
          <a class="btn-continue btn btn-lg btn-default {{!showSummary || 'btn-primary'}}" 
             href="/overview/" >
            <i class="glyphicon glyphicon-th"></i> {{'Přehled znalostí' | translate }}
          </a>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
