<div class="container-fluid">
  <div practice-header
       question="activeQuestion"
       category-id="categoryId">
   </div>
</div>
<div>
<div ng-repeat="question in questions"
    ng-show="question.description == activeQuestion.description &&
      question.responseTime == activeQuestion.responseTime">
  <span page-number="{{question.context.content.meta['textbook-page']}}"></span>
  <div anatomy-image code="{{question.context.identifier}}" practice="true" ></div>
  </div>
</div>
<div class="practice-with-progress">
  <div class="progress quesions-progress">
    <div class="progress-bar" style="width: {{progress}}%;"></div>
  </div>
  <div id="container" class="practice-container">
    <div ng-hide="question || showSummary || error" class="loading-indicator">
    </div>
    <div ng-show="error" error-message ></div>
    <div class="practice">
      <div ng-repeat="question in questions"
          ng-class="{'slide-out': question.slideOut}"
          class="inner-practice row">
        <div class="question col-sm-12"
          question-and-answer 
          question="question">
        </div>
        <div class="button-block"
             option-buttons
             question="question"
             controller="controller"
             image-controller="imageController">
        </div>
        <div class="button-block"
             practice-action-buttons
             question="question"
             can-next="canNext"
             controller="controller">
        </div>
      </div>
      <div ng-show="loadingNextQuestion" class="loading-indicator overlay">
      </div>
      <div ng-if="showSummary"
        summary
        controller="controller"
        category-id="categoryId"
        category2-id="category2Id" >
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
