<div anatomy-image code="{{part}}" map="imageController" callback="mapCallback()" practice="true" ></div>
<div class="practice-with-progress">
  <div class="progress quesions-progress">
    <div class="progress-bar" style="width: {{progress}}%;"></div>
  </div>
  <div id="container" class="practice-container">
    <div ng-hide="question || showSummary || error" class="loading-indicator">
    </div>
    <div ng-show="error" error-message ></div>
    <div class="practice">
      <div ng-repeat="question in questions"
          ng-class="{'slide-out': question.slideOut}"
          class="inner-practice">
        <div class="question">
          <span ng-bind="question | questionText"></span>
          <span class="label label-default" ng-show="question|isFindOnMapType">
            {{question.term.name}}
          </span>
          <span ng-show="question.answered_code && (question|isFindOnMapType) &&
            question.answered_code != question.description">
            <span>{{'Vybráno' | translate }}</span>
            <span class="label label-default">
               {{question.answered_code|codeToName}}
            </span>
          </span>
          <br class="clearfix">
        </div>
          <div mnemonic="{{question}}" class="col-sm-12"
            ng-show="canNext && question.answered_code != question.description">
          </div>
        <span class="col-sm-7">
          <span ng-show="question|isPickNameOfType">
            <button ng-repeat="option in question.options"
              class="btn btn-lg btn-default"
              ng-click="checkAnswer(option.description)"
              ng-class="{'btn-success': option.correct, 'btn-danger':
              option.selected && !option.correct }"
              ng-disabled="option.disabled">
               {{option.term.name}}
            </button>
          </span>
        </span>
        <span class="col-sm-5" >
          <button class="btn btn-lg btn-default dont-know" 
                  ng-click="checkAnswer()" 
                  ng-disabled="canNext" >
              <i class="glyphicon glyphicon-question-sign"></i> {{'Nevím' | translate }}
          </button>
          <button class="btn btn-lg btn-default next {{!canNext || 'btn-primary'}}" 
                  ng-click="next()" 
                  ng-disabled="!canNext" >
              <i class="glyphicon glyphicon-arrow-right"></i> {{'Pokračovat' | translate }}
          </button>
          <button class="btn btn-lg btn-default" 
                  ng-click="highlight()" 
                  ng-disabled="canNext"  
                  ng-show="question.options != undefined" >
              <i class="glyphicon glyphicon-repeat"></i> {{'Znovu zvýraznit' | translate }}
          </button>
        </span>
      </div>
      <div ng-if="showSummary" class="inner-practice summary col-lg-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="summary-progress progress" ng-show="summary != undefined">
              <div class="progress-bar progress-bar-learned" 
                   style="width: {{summary.correctlyAnsweredRatio | percent }};">
                {{'Úspěšnost' | translate}}: {{summary.correctlyAnsweredRatio | percent }}
              </div>
              <div class="progress-bar progress-bar-unlearned" 
                   style="width: {{(1 - summary.correctlyAnsweredRatio) | percent }};">
              </div>
            </div>
            <span ng-repeat="fc in summary.flashcards" 
                  ng-click="highlightFlashcard(fc)"
                  class="label label-clickable {{fc.description != fc.answered_code &&
                    'label-unlearned' || 'label-learned' }} ">
               {{fc.term.name}}
            </span>
          </div>
          <h2 class="clearfix" ng-show="errorMessage != undefined" ng-bind="errorMessage"></h2>
        </div>
        <br>
        <span class="pull-right" >
        <!--
          <a class="btn btn-lg btn-default" 
             ng-show="user.username"
             href="/goals/" >
            <i class="glyphicon glyphicon-screenshot"></i> {{'Osobní cíle' | translate }}
          </a>
          -->
          <a class="btn btn-lg btn-default" 
             href="/refreshpractice/{{part}}/{{placeType}}" >
            <i class="glyphicon glyphicon-repeat"></i> {{'Znovu procvičovat' | translate }}
          </a>
          <a class="btn-continue btn btn-lg btn-default {{!showSummary || 'btn-primary'}}" 
             href="/overview/" >
            <i class="glyphicon glyphicon-th"></i> {{'Přehled znalostí' | translate }}
          </a>
        </span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
