<div class="beta-alert text-center alert alert-info {{class}}"
    ng-if="show">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"
      track-click="close premium banner">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only" translate>Zavřít</span>
  </button>
  <span track-show="premium banner" translate>
  Pomáhá ti anatom.cz s učením? Podpoř další rozvoj projektu zakoupením předplatného a získej přístup k premium obsahu.
  </span>
  <a class="btn btn-default"
     track-click="premium banner"
     ng-click="goto('/premium/')"
     translate
    >Zjistit více</a>
  <a class="btn btn-primary"
     track-click="premium banner demo"
     ng-click="goto('/practice/relations/demo?config=intro')"
     translate
    >Vyzkoušet zdarma</a>
</div>

