<div class="premium-page jumbotron">
    <div class="flatblock block-premium_page col-lg-offset-2 col-lg-8">
      <h1 translate>Procvičuj si anatomii s námi</h1>
      <div class="flatblock-content" translate>
        Za použití dat o učení, které máme k dispozici, učiníme tvoje procvičování efektivní.
      </div>
      <table class="subscription-table">
        <tr>
          <th></th>
          <th translate>Zdarma</th>
          <th translate>Předplatné</th>
        </tr>
        <tr>
          <td>
            <h4 translate>Pojmy na obrázcích</h4>
            <div translate>Procvič si polohu více než 2000 pojmů na více než 200 obrázcích.</div>
          </td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td>
            <h4 translate>Souvislosti</h4>
            <div translate>Procvič si více než 1000 souvislostí týkajících se svalů - kde se upínají, jaký nerv je inervuje, ...</div>
          </td>
          <td><i class="glyphicon glyphicon-remove"></i></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td>
            <h4 translate>Pokročilé nastavení</h4>
            <div translate>Nastav si obtížnost procvičování, délku sady a typ otázek tak, jak ti vyhovuje.</div>
          </td>
          <td><i class="glyphicon glyphicon-remove"></i></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
            <a class="btn btn-primary btn-lg" ng-click="scrollToPlans()"
              translate>Vybrat předplatné</a>
          </td>
        </tr>
      </table>
    </div>
</div>
<div id='plans' class="flatblock block-welcome_page col-lg-offset-2 col-lg-8 col-sm-12">
  <h2 class="text-center" translate>Typy předplatného</h2>
  <div class="alert alert-info col-sm-12" ng-if="discountCode" translate>
    Uvedené ceny jsou po uplatnění slevového kódu '{{discountCode}}'.
  </div>
  <form ng-if="!discountCode" class="form-inline text-center">
    <label translate>Slevový kód: </label>
    <input class="form-control" ng-model="discountCodeInput">
    <a class="btn btn-default"
      href="/premium/?discount_code={{discountCodeInput}}" 
      translate>Uplatnit slevový kód</a>
      <br>
      <br>
  </form>
  <div class="clearfix"></div>
  <div class="flatblock-content row">
    <div ng-hide="plans.length" class="loading-indicator"></div>
    <div class="col-sm-4" ng-repeat="plan in plans">
      <div ng-class="{featured: plan.featured}" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">{{plan.description.name}}</h3>
        </div>
        <div class="panel-body">
          <h3 ng-class="{'discount': plan.description.price_after_discount}">
            <span class="price" >
              {{plan.description.price / 100 | number}}</span>
            {{plan.description.currency | currencySymbol}}
          </h3>
          <h3 ng-if="plan.description.price_after_discount">
            <span class="price" >
              {{plan.description.price_after_discount / 100 | number}}
            </span>
            {{plan.description.currency | currencySymbol}}
          </h3>
          <p>{{plan.description.description}}</p>
          <a class="btn btn-lg pull-right"
              ng-click="buyPlan(plan)"
              ng-class="plan.featured ? 'btn-primary' : 'btn-default'"
              translate>
            Koupit teď
          </a>
         </div>
       </div>
     </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
