<div class="welcome-page jumbotron">
    <div class="flatblock block-welcome_page col-lg-offset-2 col-lg-8">
    <h1 translate>Premium</h1>
      <div class="flatblock-content">{{ "..." | translate }}
      </div>
      <table class="subscription-table">
        <tr>
          <th></th>
          <th translate>Free</th>
          <th translate>Premium</th>
        </tr>
        <tr>
          <td translate>Přes 2000 pojmů na obrázcích</td>
          <td><i class="glyphicon glyphicon-ok-sign"></i></td>
          <td><i class="glyphicon glyphicon-ok-sign"></i></td>
        </tr>
        <tr>
          <td translate>Přes 1000 souvislostí</td>
          <td><i class="glyphicon glyphicon-remove-sign"></i></td>
          <td><i class="glyphicon glyphicon-ok-sign"></i></td>
        </tr>
        <tr>
          <td translate>Pokročilé nastavení</td>
          <td><i class="glyphicon glyphicon-remove-sign"></i></td>
          <td><i class="glyphicon glyphicon-ok-sign"></i></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
            <a class="btn btn-primary btn-lg" ng-click="scrollToPlans()"
              translate>Chci premium</a>
          </td>
        </tr>
      </table>
    </div>
</div>
<div id='plans' class="flatblock block-welcome_page col-lg-offset-2 col-lg-8 col-sm-12">
  <h2 class="text-center" translate>Typy předplatného</h2>
    <div class="flatblock-content row">
      <div class="col-sm-4" ng-repeat="plan in plans">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="text-center">{{plan.description.name}}</h3>
          </div>
          <div class="panel-body">
            <h3><span class="price">{{plan.description.price / 100}}</span> {{plan.description.currency}}</h3>
            <p>{{plan.description.description}}</p>
            <a class="btn btn-default btn-lg pull-right"
                ng-click="buyPlan(plan)"
                translate>
              Koupit teď
            </a>
           </div>
         </div>
       </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
