<progress class="overview-progress">
  <bar class="progress-bar-practiced" 
      value="100 * skills.number_of_practiced_flashcards / skills.number_of_flashcards">
  </bar>
  <bar class="progress-bar-learned" 
      value="100 * skills.number_of_mastered_flashcards / skills.number_of_flashcards"
      ng-if="skills.number_of_mastered_flashcards">
  </bar>
</progress>
<div class="text-center" ng-hide="hideLabels">
 <span class="badge badge-default">
   <i class="color-indicator learned"></i>
   <span translate>Naučeno</span>: 
   <span ng-if="skills.number_of_mastered_flashcards !== undefined"
     count-to="{{skills.number_of_mastered_flashcards}}"
     duration="0.6"
     count-from="0"></span>
   {{skills.number_of_mastered_flashcards === undefined ? '...' : '/'}}
   {{skills.number_of_flashcards || ''}}
 </span> 
 <span class="badge badge-default">
   <i class="color-indicator practiced"></i>
   <span translate>Procvičováno</span>: 
   <span ng-if="skills.number_of_nonmastered_practiced_flashcards !== undefined"
     count-to="{{skills.number_of_nonmastered_practiced_flashcards}}"
     duration="0.6"
     count-from="0"></span>
   {{skills.number_of_nonmastered_practiced_flashcards === undefined ? '...' : '/'}}
   {{skills.number_of_flashcards || ''}}
 </span>
</div>
