<span
  class="pull-right"
  practice-setting
  category-id="categoryId"
  category2-id="category2Id" >
</span>
<span ng-bind-html="question | questionText"></span>
<span ng-if="wrongAnswers.length">
  <span>{{'Kromě' | translate }}</span>
  <span class="label label-default" ng-repeat="wrongAnswer in wrongAnswers">
     {{wrongAnswer[question.question_type == 't2ts' ?
       'term_secondary' : 'term'].name | stripAlternatives}}
  </span>
</span>
<span ng-show="(question|isFindOnMapType) ||
        (question.responseTime && 
        !question.options.length &&
        !question.isCorrect)">
  <span>{{'Správná odpověď' | translate }}</span>
  <span class="label label-default"
    tooltip-html-unsafe="{{question[question.question_type == 't2ts' ? 'term_secondary' : 'term'].name | alternativeNames}}"
    tooltip-placement="bottom">
  {{question[question.question_type == 't2ts' ? 'term_secondary' : 'term'].name | stripAlternatives}}
  </span>
</span>
<span ng-if="question.answered_code &&
    !question.options.length &&
    (question|isFindOnMapType) &&
    !question.isCorrect">
  <span>{{'Vybráno' | translate }}</span>
  <span class="label label-default">
     {{getFlashcardByDescription(question.answered_code).term.name  | stripAlternatives}}
  </span>
</span>
<div class="clearfix"></div>
