<div class="modal-header text-center" track-show="relations modal">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">{{ "Procvičuj anatomické souvislosti" | translate }}</h3>
  <div class="text-center">
  {{"Pospojuj si vědomosti o svalech - začátek a úpon, funkce a antagonisty, inervaci a cévní zásobení." | translate }}
  </div>
</div>
<div class="modal-body">
  <a href="/practice/relations/demo/?config=intro"
    track-click="relations modal image"
    ng-click="$close()">
    <img src="/static/img/thumb/premium-{{LANGUAGE_CODE}}.png" />
  </a>
</div>
<div class="modal-footer">
  <a href="/practice/relations/demo/?config=intro"
    ng-click="$close()"
    track-click="relations modal practice"
    class="btn btn-primary btn-lg" translate>Vyzkoušet zdarma</a>
  <a href="/premium/" class="btn btn-default btn-lg"
    track-click="relations modal premium"
    ng-click="$close()" translate>
    Zjistit více o předplatném</a>
</div>

