<div class="modal-header text-center">
  <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title" ng-bind="title"></h3>
</div>
<div class="modal-body">
  <div class="text-center">
    <button
        track-click="share facebook"
        ng-click="openSharePage('facebook')"
        class="btn btn-lg btn-primary"
       ><i class="social-facebook"></i> Facebook</button>
    <button
        track-click="share twitter"
        ng-click="openSharePage('twitter')"
        class="btn btn-lg btn-info"
      ><i class="social-twitter"></i> Twitter</button>
    <button
        track-click="share google"
        ng-click="openSharePage('google')"
        class="btn btn-lg btn-danger"
      ><i class="social-google"></i> Google+</button>
    <input class="form-control share-input" value="{{url}}"/>
    <a track-click="share demo"
        ng-click="openSharePage('demo')"
        class="btn btn-lg btn-link" translate
        ng-bind="demoTitle"></a>
  </div>
</div>
<div class="modal-footer" >

</div>
