<div class="modal-header text-center">
  <button type="button" class="close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title"> {{ "Registrujte se" | trans }} </h3>
  <div ng-hide="success">
    {{" a získejte všechny výhody registrovaných uživatelů." | trans }}
    <a ng-click="activeExplanation=!activeExplanation" ng-show="LANGUAGE_CODE=='cs'"
      href="">{{"Co získám?" | trans }}</a>
  </div>
</div>
<div class="modal-body" ng-hide="success">
  <div ng-if="activeExplanation">
    {{"Možnost nastavit si osobní cíle"}}
    <img ng-src="/static/img/goals-example-{{LANGUAGE_CODE}}.png"
      alt="{{'Osobní cíle'}}"/>
    <br>
    <br>
    <br>
    {{"Přehled častých chyb"}}
    <img ng-src="/static/img/errors-example-{{LANGUAGE_CODE}}.png"
      alt="{{'Přehled častých chyb'}}"/>
    <hr>
  </div>
  <div ng-hide="activateEmail">
    <a class="btn btn-danger btn-lg btn-block"
      track-click="login"
      href="/login/google-oauth2/">
      <i class="social-google"></i> {{ "přes Google" | trans }}
    </a>
    <br>
    <a class="btn btn-primary btn-lg btn-block"
      track-click="login"
      href="/login/facebook/">
      <i class="social-facebook"></i>{{ "přes Facebook" | trans }}
    </a>
    <br>
    <a class="btn btn-info btn-lg btn-block"
      ng-click="activateEmail=true"
      href="">
      <i class="glyphicon glyphicon-envelope"></i> {{ "přes E-mail" | trans }}
    </a>
  </div>

  <form role="form" ng-show="activateEmail" ng-submit="signup()">
    <div class="form-group">
      <input type="email" class="form-control" ng-model="registerForm.email"
        placeholder="{{ 'E-mail' | trans }}" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="registerForm.username"
        placeholder="{{ 'Uživatelské jméno' | trans }}" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" ng-model="registerForm.password"
        placeholder="{{ 'Heslo' | trans }}" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" ng-model="registerForm.passwordAgain"
        placeholder="{{ 'Heslo znovu' | trans }}" required>
    </div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}"
      close="closeAlert($index)">{{alert.msg}}</alert>
    <button ng-disabled="loading" type="submit" class="btn btn-primary btn-block btn-lg">
      {{ 'Registrovat se' | trans }}
    </button>
  </form>
</div>
<div class="modal-body" ng-show="success" >
    <alert type="success">
      {{"Registrace proběhla úspěšně. Můžete pokračovat v používání aplikace." | trans}}
    </alert>
</div>

