<div class="inner-practice summary row">
  <div class="col-sm-12">
    <div class="summary-progress progress" ng-show="summary != undefined">
      <div class="progress-bar progress-bar-learned" 
           style="width: {{summary.correctlyAnsweredRatio | percent }};">
        {{'Úspěšnost' | translate}}: {{summary.correctlyAnsweredRatio | percent }}
      </div>
      <div class="progress-bar progress-bar-unlearned" 
           style="width: {{(1 - summary.correctlyAnsweredRatio) | percent }};">
      </div>
    </div>
    <span ng-repeat="q in summary.questions" 
          track-click="practice summary change image"
          ng-click="controller.highlightFlashcard(q.payload)"
          class="label label-clickable 
            {{q.payload.isCorrect ? 'label-learned' : 'label-unlearned' }} ">
       {{q.payload.term.name | stripAlternatives}}
    </span>
     <i class="glyphicon glyphicon-question-sign help-icon"
        popover-trigger="mouseenter"
        popover-placement="bottom"
        popover-append-to-body="true"
        popover-title="{{'Tip k ovládání' | translate}}"
        popover="{{'Pomocí názvů dotázaných pojmů můžeš přepínat mezi obrázky k jednotlivým odpovědím.' | translate}}"
        track-hover="summary labels explanation">
     </i>
  </div>
  <h2 class="clearfix" ng-show="errorMessage != undefined" ng-bind="errorMessage"></h2>
  <br>
  <div class="col-sm-12">
    <br>
    <a class="btn-continue btn btn-lg btn-primary" 
       href="/refreshpractice/{{categoryId}}/{{category2Id}}"
       track-click="repeat practice" >
      <i class="glyphicon glyphicon-arrow-right"></i> {{'Pokračovat v procvičování' | translate }}
    </a>
    <a class="btn btn-lg btn-default" 
       ng-if="categoryId && categoryId.indexOf('-') == -1"
       href="/view/{{categoryId}}/" >
      <i class="glyphicon glyphicon-picture"></i> {{'Přehled znalostí' | translate }}
    </a>
    <a class="btn btn-lg btn-default" 
       href="/overview/" >
      <i class="glyphicon glyphicon-th"></i> {{'Vybrat kapitolu' | translate }}
    </a>
    <a feedback-comment class="btn btn-lg btn-default report-error" email="{{userService.user.email}}"
        href="">
        <i class="glyphicon glyphicon-new-window"></i>
      {{'Přijde Ti aplikace užitečná? Co bys vylepšil?' | translate }}
    </a>
  </div>
</div>
