<div class="row header">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
      <h1 ng-bind="category.name"></h1>
    <span class="col-sm-9">
      <div category-progress skills="{{stats}}"></div>
    </span>
    <span class="col-sm-3">
      <a href="/practice/{{category.identifier}}/" 
        class="btn btn-default btn-lg" 
        translate
        track-click="overview practice" >
        Procvičovat
      </a>
      <br>
      <br>
    </span>
  </div>
</div>
<div ng-hide="contexts || error" class="loading-indicator"></div>
<div class="table table-striped col-sm-12">
<br>
    <div class="row table-row" ng-repeat="context in contexts ">
      <a class="col-sm-5" ng-click="activateContext(context)" href="">
        {{context.name || '[MISSING]'}}
      </a>
      <span class="col-sm-5">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar"
            style="width: {{context.paths_progress}}%;">
            <span ng-if="context.paths_progress != 0">
            {{context.paths_count - context.untagged_paths_count}} /
            {{context.paths_count}}
            </span>
          </div>
        </div>
      </span>
      <span class="col-sm-2">
       <!--
        <a class="btn btn-primary" href="practice/{{context.identifier}}">
          Procvičovat
        </a>
        -->
      </span>
      <div class="clearfix"></div>
      <div ng-if="activeContext==context">
          <div anatomy-image code="{{part}}" map="imageController" callback="mapCallback()" context='{{context.content}}' ></div>
        <div class="col-sm-5" ng-hide="loading">
          <div ng-repeat="term in terms" class="">
              <span class="btn btn-default btn-block"
                ng-class="{'btn-info' : term == activeTerm}"
                ng-click="clickTerm(term)"
                ng-bind="term.name_la" ></span>
          </div>
        
      </div>
    </div>
</div>

