<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <h1>
          <span>{{user ? user + ' - ' : ''}}</span>
          <span>{{category.name || ('Všechna schémata' | translate)}}</span>
        </h1>
        <div>
          <button class="btn btn-default btn-lg pull-right btn-share show hidden-xs"
            track-click="share overview"
            ng-disabled="disabled"
            share-url="{{$location.absUrl() + userService.user.username}}"
            share-title="{{'Pochlub se svými znalostmi' | translate}}"
            share-demo-title="{{'Co uvidí na sdílené stránce ostatní?' | translate}}"
            share-button>
              <i class="glyphicon glyphicon-share"></i>
              <span translate>Sdílet</span>
          </button>
          <div class="clearfix"></div>
        </div>
      <div class="row">
        <div class="col-sm-6" ng-if="!user">
          <button class="btn btn-default btn-lg pull-right btn-share show visible-xs-block"
            track-click="share overview"
            share-url="{{$location.absUrl() + userService.user.username}}"
            share-title="{{'Pochlub se svými znalostmi' | translate}}"
            share-demo-title="{{'Co uvidí na sdílené stránce ostatní?' | translate}}"
            share-button>
              <i class="glyphicon glyphicon-share"></i>
              <span translate>Sdílet</span>
          </button>
          <a href="/practice/{{category.identifier}}/" 
            class="btn btn-default btn-lg" 
            track-click="view practice" >
            <i class="glyphicon glyphicon-play"></i>
            <span translate>
              Procvičovat kapitolu
            </span>
          </a>
          <span class="dropdown" style="display: inline-block">
            <button type="button"
              class="btn btn-default btn-lg dropdown-toggle practice-dropdown"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              ng-click="usePracticeDwopdown()">
              {{"Procvičovat podkapitolu" | translate}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
              <li ng-repeat="subcategory in subcategories"
                  ng-if="subcategory.stats.number_of_items &gt; 9">
                <a href="/practice/{{category.identifier}}/{{subcategory.identifier}}"
                    track-click="view dropdown practice" >
                 {{category.name}} - {{subcategory.name}}
                </a>
              </li>
            </ul>
          </span>
          <br>
        </div>
        <div class="col-sm-6" ng-class="{'col-sm-offset-3' : user}">
          <div category-progress skills="stats"></div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-hide="(contexts && countsLoaded) || error" class="loading-indicator"></div>
<div class="table table-striped col-sm-12">
  <div ng-show="error" error-message ></div>
  <br>
    <div class="row table-row fade-in-one-by-one"
      ng-if="context.stats && context.stats.number_of_items"
      id="{{context.identifier}}" ng-repeat="context in contexts">
      <div class="col-md-5 col-md-offset-1 col-sm-6 image-open"
        track-click="view image"
        ng-click="activateContext(context)" >
        <a class="pull-left"
          href="/view/{{category.identifier}}/image/{{context.identifier}}">
        </a>
        <h3 class="image-list-title">
          {{context.name || '[MISSING]'}}
        </h3>
        <a ng-if="userService.user.staff"
          class="pull-right"
          href="http://znackuj.anatom.cz/image/{{context.identifier}}">
          <i class="glyphicon glyphicon-edit" ></i>
        </a>
        <a ng-if="userService.user.staff"
          class="pull-right"
          href="/practice/{{category.identifier}}/?context={{context.identifier}}">
          <i class="glyphicon glyphicon-check" ></i>
        </a>
      </div>
      <div class="col-md-5 col-sm-6 image-open"
        track-click="view image"
        ng-click="activateContext(context)" >
        <div category-progress skills="context.stats"
          hide-labels="true"></div>
      </div>
      <div class="clearfix"></div>
</div>
<image-modal 
  open-action="activateContext"
  contexts="contexts"
  category="category"
  context="activeContext">
</image-modal>
