<blind-map code="{{part}}" show-tooltips="true" map="imageController" ></blind-map>
<div id="container">
  <div ng-hide="placesTypes || error" class="loading-indicator">
  </div>
  <div ng-show="error" error-message ></div>
  <div ng-show="placesTypes.length" class="layers-tabs">
    <div class="tab col-sm-{{(typeCategories | filter:{'empty' : false}).length|colNum}}"
        ng-class="{'active' : !typeCat.hidden}"
        ng-repeat="typeCat in typeCategories" 
        ng-hide="typeCat.empty = ((placesTypes|isTypeCategory:typeCat).length == 0)"
        ng-click="typeCat.hidden && updateCat(typeCat)">
        <!-- TODO this practice doesn't work yet
      <a href="/practice/{{part}}/{{typeCat.slug}}" 
         class="btn btn-primary pull-right" 
         ng-hide="typeCat.hidden || filteredTypes.length == 1" >
        <i class="glyphicon glyphicon-check"></i> {{'Procvičovat' | translate }}
      </a>
      -->
      <h2>
        {{typeCat.name}}
      </h2>
    </div>
    <div class="clearfix"></div>
  </div>
  <ul ng-show="placesTypes.length && (filteredTypes = (placesTypes|isTypeCategory:typeCat)).length" 
      class="thumbnails fade-show-hide"
      ng-repeat="typeCat in typeCategories">
    <div collapse="typeCat.hidden">
      <li class="col-sm-{{filteredTypes.length|colNum}}" 
          ng-repeat="type in filteredTypes">
        <div ng-click="updateMap(type)"
            class="collapse-control">
          <h3>
            <i class="glyphicon {{type.hidden && 'glyphicon-plus-sign' || 'glyphicon-minus-sign'}}"></i>
            {{type.name}}
          </h3>
          <a href="/practice/{{part}}/{{type.identifier}}" 
             class="btn btn-primary pull-right"  >
            <i class="glyphicon glyphicon-check"></i> {{'Procvičovat' | translate }}
          </a>
          <div class="clearfix"></div>
        </div>
        <div class="map-progress" 
             skills="{{ {
               number_of_flashcards: type.places.length,
               number_of_practiced_flashcards: (type.places|filter:{practiced:true}).length,
               number_of_mastered_flashcards: (type.places|filter:{mastered:true, practiced:true}).length
             } }}"></div>
        <div class="view-places" collapse="type.hidden">
          <div ng-hide="(type.places|filter:{practiced:true}).length" class="alert alert-info">
            {{'Zde zatím nebylo nic procvičováno.' | translate }}
          </div>
          <span ng-repeat="place in type.places|filter:{practiced:true}"
                ng-click="placeClick(place)"
                style="border-bottom: 5px solid {{place.prediction|probColor}};"
                place-label>
          </span>
          <div class="clearfix"></div>
        </div>
      </li>
    </div>
  </ul>
  <div class="clearfix"></div>
</div>
