.subscription-table
  td, th
    padding: 20px
    border: 2px solid #ddd
    width: 30%
    text-align: center
    .glyphicon
      font-size: 1.5em
    .glyphicon-ok
      color: $learned
    .glyphicon-remove
      color:  $unlearned
  th
    background: #e6e7e8
  td
    background: white
  td:first-child
    background: #e6e7e8
    text-align: right
    div
      font-size: 0.8em
      line-height: initial
    h4
      font-weight: bold
  td:last-child
    background: $highlightBackgroundLight
  th:last-child
    background: $highlightBackgroundDark
    color: #fff
    border-color: $highlightBackgroundDark
  th:first-child
    background: transparent
    border: none
  th:nth-child(2)
    border-right: 0
  tr:last-child
    td
      background: transparent
      border: 0
  .btn
    font-size: 1.4em
    white-space: initial

.price
  font-size: 2em
.discount
  text-decoration: line-through
  color: #999
  margin: 0
  .price
    font-size: 1em

.plan-description
  min-height: 3em

.payment-icons img
  margin: 5px

@-webkit-keyframes growAlert
  from
    bottom: 0px
    left: 0
    width: 100%
    padding: 15px
  to
    bottom: 200px
    left: 5%
    width: 90%
    padding: 100px 15px
@-moz-keyframes growAlert
  from
    bottom: 0px
    left: 0
    width: 100%
    padding: 15px
  to
    bottom: 200px
    left: 5%
    width: 90%
    padding: 100px 15px
@keyframes growAlert
  from
    bottom: 0px
    left: 0
    width: 100%
    padding: 15px
  to
    bottom: 200px
    left: 5%
    width: 90%
    padding: 100px 15px


.alert-grow
  -webkit-animation: growAlert 1s ease-out
  -moz-animation: growAlert 1s ease-out
  animation: growAlert 1s ease-out
  bottom: 200px
  left: 5%
  width: 90%
  padding: 100px 15px

@media (max-width: 767px)
  .subscription-table
    td, th
      padding: 10px
      .btn
        font-size: 1em


.premium-page.jumbotron
  background-color: #8dc63f
  color: black
  padding-left: 20px
  padding-right: 20px
  h1
    color: white
    text-align: center
    position: relative
    left: 0
    margin-top: 0px
    word-wrap: break-word
  [class*="col-"]
    float: none
  .block-premium_page
    padding: 0
    .flatblock-content
      text-align: center
      padding-bottom: 10px
      padding-top: 10px
    .badge
      font-size: inherit
    .help-icon
      vertical-align: top
      font-size: inherit
      color: black
  .btn
    margin: 5px

#plans
  h2
    margin-bottom: 20px
  .featured
    .panel-body
      background: $highlightBackgroundLight
    .panel-heading
      background: $highlightBackgroundDark
      color: #fff

